{{#if alumnos}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N°</th>
        <th>Numero de Control</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      {{#each alumnos}}
        <tr>
          <td>{{@index}}</td>
          <td><strong>{{num_control}}</strong></td>
          <td>{{nombre}}</td>
          <td>
            {{#if done}}
              <a
                class="btn btn-success"
                href="/alumnos/{{_id}}/toggleDone"
              >Listo</a>
            {{else}}
              <a class="btn btn-dark" href="/alumnos/{{_id}}/toggleDone">
                Deshacer
              </a>
            {{/if}}
            <a href="/alumnos/{{_id}}/delete" class="btn btn-danger">
              Delete
            </a>
            <a href="/alumnos/{{_id}}/edit" class="btn btn-info">
              Edit
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No hay alumnos</h1>
    </div>

  </div>
{{/if}}